
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="img/favicon.png">

    <title>OnlineShopping</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Tools/OuterTools/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Tools/OuterTools/css/bootstrap-reset.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Tools/OuterTools/css/style.css" rel="stylesheet">
    <link href="~/Tools/OuterTools/css/style-responsive.css" rel="stylesheet" />

    <script src="~/Tools/OuterTools/js/jquery.js"></script>
    <script src="~/Tools/OuterTools/js/bootstrap.js"></script>
</head>

<body class="login-body">
    <div class="container">
        <center>
            <h2>Kayıt işlemi gerçekleştirildi. Lütfen E-Posta adresinize gönderilen aktivasyon linkine tıklayarak hesabınızı aktif hale getiriniz.</h2>
        </center>
    </div>
</body>
</html>

<script src="~/Scripts/Timeout.js"></script>